body{
    font-size: 15pt;
    line-height: 1.85em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
/*     color:red; */
    }

table .experience{
    width:100%;
  
}

.experience td{
    border-bottom: none !important;
    padding: .75em .75em;
    text-align: justify;
    
}

hr{
/*     height:2px; */
    margin: 0 !important;
}
