body{
    font-size: 12pt;
    line-height: 1.85em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
/*     color:red; */
/*     border-top: 5px solid #f5d6eb; */
    }

table .experience{
    width:100%;
  
}

.experience td{
    border-bottom: none !important;
    padding: .75em .75em;
    text-align: inherit;
    
}

hr{
    margin: revert;
    border-bottom: 2px solid #474299;
    border-top: 2;
}

@media screen and (min-width: 1240px)
.container {
    max-width: 1080px;
}
@media screen and (min-width: 768px)
.container {
    max-width: 960px;
}
.container {
    /* max-width: 420px; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.button-ghost{
    border: 2px solid #474299;
    color: #474299;
}
.hero-inner em {
    color: #474299;
}
.logo span {
    color: #474299;
}
a {
    color: #474299;
    text-decoration: none;
}
.post .read-more {
    color: #cc3399;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .button, .toggle-navbar-button {
/*     background-color: #ff99e6; */
 }
svg {
    fill: #f5d6eb;
} 
