*{
    color: #003366;
    /* color: #000066; */
    /* background-color: aquamarine; */
    background-color: #d6f5f5;
}
.background{
    /* background-color: aquamarine; */
    background-color: #d6f5f5;
}
a{
    /* color: orangered; */
    color: #cc6600;
}
.flexblock a{
    /* color: orangered; */
    color: #cc6600 !important;
}
ul li{
    list-style: none !important;
}

.connect li{
    text-align:center !important;
}

#counter, #navigation a{
    color: #cc6600 !important;
}

.social{
    text-align:center;
}

.fa-twitter:hover {
    color: #cc6600;
}
